<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')  %>
<body>
    <%- include('../partials/header', {pagina: 'sobre'} ) %>

    <main>
        <h4>Sobre o Heryck</h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, commodi a. Beatae dolore dolor temporibus perspiciatis nesciunt aut expedita nihil nobis error architecto nemo assumenda iusto at, eligendi sed voluptates.
    </main>

    <%- include('../partials/footer') %>
</body>
</html>